
body {
	background-color: rgb(200,227,204);
	text-align:center;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.soothing {
	background-image: url("soothing-pic.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 100px;
	 line-height: 550%

}

#main-body {
	background-image: url("soothing-pic.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
}

#password{
	margin-left: -5px;
}
button {
	margin-left: auto;
}
h1 {
	font-family: 'Lobster', cursive;
	font-size: 60px;
}
.mainbox {
	width: 500px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	margin-top: 50px;
	background-color: rgb(200,227,204);

}

.timebuttons {
	margin-top: 15px;
	font-size: 16px;
	
}
.emotion-buttons {
	margin-top: 15px;
	font-size: 16px;
	border-radius: 20px;
	border-color: darkgrey; 
	padding: 10px;
	

}
.emotion-picked {
	background-color: rgb(239,208,204);
}
#who {
	font-size: 14px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

