
body {
	background-color: rgb(200,227,204);
	text-align:center;
}
.soothing {
	background-image: url("soothing-pic.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 100px;
	 line-height: 550%
}

#main-body {

}

.inputText {
	color: rgb(123,140,157);

}
button {
	margin-left: auto;
}
h1 {
	font-family: 'Lobster', cursive;
	font-size: 60px;
}
#mainbox {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	margin-top: 50px;

}

.timebuttons {
	margin-top: 15px;
	font-size: 16px;
	
}
.emotion-buttons {
	margin-top: 15px;
	font-size: 16px;
	border-radius: 20px;
	border-color: darkgrey; 
	padding: 10px;
	

}
.emotion-picked {
	background-color: rgb(239,208,204);
}
#who {
	font-size: 12px;
}

