body {
	background-color: rgb(195,225,229);
	text-align:center;
}

.inputText {
	color: rgb(123,140,157);

}
button {
	margin-left: auto;
}

#mainbox {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}